/* 절주온 스타일시트 */
/* 초기화 */
* {
    margin: 0;
    padding: 0;
    /* font-size: 1.5rem; */
}

/* 전체 색 지정 */
#app {
    background-color: #dae9f5;
}

/* #### header 영역 시작 #### */
.header-top {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
}

/* 좌측 dropdown 시작 */
.left-dropdown {
    position: relative;
}
.dropdown-btn {
    width: 15rem;
    background-color: #dae9f5;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 12px;
    gap: 5px;
    height: 48px;
    font-size: 16px;
    font-family: 'nanumsquareround';
    font-weight: 600;
}
.dropdown-btn i {
    margin-left: auto;
}
.dropdown-list {
    background-color: white;
    position: absolute;
    width: 100%;
    transition: opacity 0.2s ease-in-out;
    list-style: none;
    z-index: 1000;
    display: none;
    padding: 10px;
    font-size: 14px;
    font-family: 'Noto';
    border: 1px solid lightgray;
    font-weight: 400;
}
.left-dropdown:hover .dropdown-list {
    display: block;
}
.dropdown-list li a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 14px;
    padding: 10px;
}
.dropdown-list li a:hover {
    color: #4662b6;
    text-decoration: 4px underline orange;
}

/* 우측 링크 div 시작 */
.right-links {
    display: flex;
    align-items: center;
    gap: 30px;
}
.sns-wrap {
    position: relative;
    display: inline-block;
}
.sns-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 48px;
    font-size: 16px;
    font-family: 'nanumsquareround';
    font-weight: 600;
    transition: opacity 0.2s ease-in-out;
}
.sns-button-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    list-style: none;
    white-space: nowrap;
    z-index: 1000;
}
.sns-button-list img {
    width: 30px;
    height: 30px;
    margin: 10px;
}
.sns-wrap:hover .sns-button-list,
.sns-button:focus + .sns-button-list {
    display: flex;
}
.campaign-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-family: 'nanumsquareround';
    font-weight: 600;
}
i {
    font-size: 16px;
    margin-right: 5px;
}
/* #### header 영역 끝 #### */
