/* 절주온 스타일시트 */
/* 초기화 */
* {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

/* 전체 색 지정 */
#app {
  width: auto;
  height: 100vh;
  background-color: #dae9f5;
  text-align: center;
}

#header {
  min-width: 1600px;
  width: 100vw;
  height: 100px;
  border: 1px solid black;
}
/* 메인 스타일 시작 */
#main {
  position: relative;
  width: 80%;
  height: 100vh;
}

/* 중앙 부분 */
.mainCenter {
  width: 30%;
  height: 620px;
  position: absolute;
  border: 7px solid white;
  border-radius: 20px;
  text-align: center;
  left: 35.3%;
  padding: 35px;
  padding-top: 95px;
  box-sizing: border-box;
  overflow: visible;
}

/* 이미지 */
.mainCenter > h2 {
  /* border: 1px solid red; */
  margin-bottom: 47px;
}

.mainCenter img {
  /* border: 1px solid red; */
  max-width: 100%;
}

.mainCenter > span {
  /* border: 1px solid red; */
  position: absolute;
  bottom: -138px;
  left: 10px;
  width: 105%;
  height: 272px;
  background: url('./image/jjo_characters.png') no-repeat center bottom / 100%;
  background-size: contain;
  overflow: visible;
}

/* 배경 그림 */
#main::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  /* right: 50px; */
  background: url(./image/bg.jpg) no-repeat center bottom;
}
